.button-with-icon,
.button-with-icon-clicked{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 25px;
    text-align: center;
    border: none;
    border-radius: 5px;
    background: rgb(193, 193, 193);
    cursor: pointer;
}

.button-with-icon:hover,
.button-with-icon-clicked{

    background: linear-gradient(to bottom, rgba(255, 243, 70, 0.844), rgba(246, 244, 213, 0.844));
    border: 1px solid rgb(193, 193, 193);
}