.info-table{

    width: 75%;
    height: 75%;
    border-spacing: 10px 2px;
    padding-top: 20px;
}

.info-table .info-head-data,
.info-table .info-data{

    text-align: left;
    font-size: 14px;
}

.info-table .info-data:nth-child(3){

    text-align: right;
}

.info-table .info-data:last-child{

    color: rgb(0, 32, 96);
    font-weight: bold;
}

@media(max-width: 1825px){

    .info-table .info-head-data p,
    .info-table .info-data{

        font-size: 12px;
    }
}