.link{

    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    text-align: left;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    color: #000000;
}

.link:hover{

    text-decoration: underline;
}