.dialogue-window-password-changer{

    width: 22em;
    height: 19em;
}

.password-changer-container{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.password-changer-container .display-container h4{

    font-size: 22px;
    color: rgb(0, 32, 96);
    margin: 0;
}

.password-changer-container .error-container{

    height: 1em;
}

.password-changer-container .error-message{

    width: 100%;
    font-size: inherit;
    color: red;
    text-align: center;
    margin: 0;
}

.password-changer-container .password-input-container p{

    font-size: 16px;
    color: #000000;
    text-align: left;
}

.password-changer-container .button-container{

    margin-top: 1.75em;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.password-changer-container .button-container .cancel-button{

    width: 6em;
}