.password-visibility-toggle button{

    width: 2em;
    height: 100%;
    border-radius: 0 2px 2px 0;
    background: lightgray;
    border: 0.1em, solid, rgb(118, 118, 118);
}

.password-visibility-toggle button:hover{

    background: darkgray;
}

.password-visibility-toggle #eye,
.password-visibility-toggle #eye-crossed{

    height: 1em;
}